<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <script>
        // Wait for the document to be ready
        $(document).ready(function () {
            // Close the alert when the close button is clicked
            $('.alert .close').on('click', function () {
                $(this).closest('.alert').fadeOut();
            });

            // Automatically dismiss the alert after 2 seconds
            setTimeout(function () {
                $('.alert').fadeOut();
            }, 2000);
        });


        function validateForm(event) {
            var principal = parseFloat(document.getElementById('principal').value);
            var interestRate = parseFloat(document.getElementById('interestRate').value);
            var dateDue = document.getElementById('dateDue').value;

            if (isNaN(principal) || principal <= 0 || !principal) {
                event.preventDefault();
                alert('Principal should be a numeric value greater than 0.');
            } else if (isNaN(interestRate) || interestRate <= 0 || !interestRate) {
                event.preventDefault();
                alert('Interest Rate should be a numeric value greater than 0.');
            } else if (!dateDue) {
                event.preventDefault();
                alert('Date Promised should not be empty.');
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Borrow Flow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavBar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listdebtors">Borrowers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reports</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <div class="container-fluid">
        <div>
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>[[${borrower.firstName}]]</td>
                    <td>[[${borrower.lastName}]]</td>
                    <td>[[${borrower.email}]]</td>
                    <td>[[${borrower.mobileNumber}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="alert alert-success text-center alert-dismissible fade show" th:if="${message}" role="alert">
        [[${message}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger text-center alert-dismissible fade show" th:if="${error}" role="alert">
        [[${error}]]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container-fluid">
        <form th:action="@{/loan/add}" method="post" th:object="${newLoan}" style="max-width:500px; margin:0 auto;">
            <div class="border border-secondary rounded p-2">
                <input type="hidden" th:field="*{borrowerId}"/>
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label">Principal</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{principal}"/>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label">Interest Rate</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{interestRate}"/>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label">Date Promised</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" th:field="*{dateDue}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 text-center p-2">

                    </div>
                    <div class="col-sm-8 text-center p-2">
                        <button class="btn btn-primary" type="submit" onclick="validateForm(event)">Add Loan</button>
                        <button class="btn btn-primary" type="button" onclick="cancelForm()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="container-fluid text-center ">
        <div><h1>Loans</h1></div>
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th class="fs-6 fs-sm-3 fs-md-2">Loan ID</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Borrower ID</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Principal</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Balance</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Interest Rate</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Borrowed Date</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Due Date</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Status</th>
                    <th class="fs-6 fs-sm-3 fs-md-2">Operation</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="loan : ${borrowerLoans}">
                    <tr>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.loanId}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.borrowerId}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.principal}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.balance}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.interestRate}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.dateBorrowed}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.dateDue}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">[[${loan.status}]]</td>
                        <td class="fs-6 fs-sm-3 fs-md-2">
                            <a th:href="@{/loan/view(borrowerId=${loan.borrowerId}, loanId=${loan.loanId})}">View</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>